@{
    ViewData["Title"] = "HR";
}

<div class="text-center">
    <h1 class="display-4">HR Landing</h1>
    <ul>
        <li>
            <a asp-area="" asp-controller="HR" asp-action="HRManageEmployees">Manage Employees</a>
        </li>
        <li>
            <a asp-area="" asp-controller="HR" asp-action="HRManageShifts">Employee Schedule Management</a>
        </li>
        <li>
            <a asp-area="" asp-controller="HR" asp-action="HRPayHistory">Pay History</a>
        </li>
        <li>
            <a asp-area="" asp-controller="HR" asp-action="HREmployeeAttendance">View Attendance</a>
        </li>
        <li>
            <a asp-area="" asp-controller="HR" asp-action="HRManageAttendance">Manage Attendance</a>
        </li>
        <li>
            <a asp-area="" asp-controller="HR" asp-action="HrPayroll_Landing">Manage Payrolls</a>
        </li>
    </ul>
</div>