@{
  ViewData["Title"] = "HR";
}

<div class="text-center">
  <h1 class="display-4">HR Landing</h1>
  <ul>
	<li><a asp-area="" asp-controller="HR" asp-action="HRManageEmployees">Manage Employees</a></li>
	<li><a asp-area="" asp-controller="HR" asp-action="HRManageShifts">Employee Schedule Management</a></li>
  </ul>
</div>
