@{
    ViewData["Title"] = "HR";
}
@model term_project.Views.HRView.HRManageShifts

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Employee Schedule Management</title>
</head>
<body>
<div>
    <h2>Employee Schedule Management</h2>
</div>
</body>
</html>