@{
    ViewData["Title"] = "HR";
}

@model term_project.Views.HRView.HRManageShifts

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css">

<div>
    <h2>Employee Schedule Management</h2>
    <br/>
    <div>
        <button type="button" id="vc_btn" class="btn btn-primary mb-3" onclick="Handle_VC_Click">View Calender</button>
        <button type="button" id="cs_btn" class="btn btn-primary mb-3" onclick="Handle_CS_Click">Create Shift</button>
        <button type="button" id="ms_btn" class="btn btn-primary mb-3" onclick="Handle_MS_Click">Manage Shifts</button>
    </div>
    <div id="content-box"></div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script>
    <script src="~/js/HRManageShifts.js"></script>
}
