@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "HR";
}

<div class="text-center">
    <h1 class="display-4">Employee Info</h1>
</div>
<hr />
<div id="employeeInfo">
    <dt class="col-sm-2">
        First Name
    </dt>
    <dd class="col-sm-10" id="FirstName">

    </dd>
    <dt class="col-sm-2">
        Last Name
    </dt>
    <dd class="col-sm-10" id="LastName">

    </dd>
    <dt class="col-sm-2">
        Address
    </dt>
    <dd class="col-sm-10" id="Address">

    </dd>
    <dt class="col-sm-2">
        Emergency Contact
    </dt>
    <dd class="col-sm-10" id="Emergency">

    </dd>
    <dt class="col-sm-2">
        Job Title
    </dt>
    <dd class="col-sm-10" id="Job">

    </dd>
    <dt class="col-sm-2">
        Employment Type
    </dt>
    <dd class="col-sm-10" id="Employment">

    </dd>
    <dt class="col-sm-2">
        Salary Rate
    </dt>
    <dd class="col-sm-10" id="Salary">

    </dd>
    <dt class="col-sm-2">
        Email
    </dt>
    <dd class="col-sm-10" id="Email">

    </dd>
    <dt class="col-sm-2">
        Qualifications
    </dt>
    <dd class="col-sm-10" id="Qualifications">
        <ul>

        </ul>
    </dd>
</div>

@section scripts {
    <script>
        $(function () {

            // Define the fetchSpecificEmployee function
            function fetchSpecificEmployee() {
                $.ajax({
                    url: '/HR/GetEmployee/?employeeID=' + '@ViewData["EmployeeID"]',
                    method: 'GET',
                    success: function (data) {
                        // Update each section with the retrieved data
                        $('#FirstName').text(data.employeeFirstName);
                        $('#LastName').text(data.employeeLastName);
                        $('#Address').text(data.employeeAddress);
                        $('#Emergency').text(data.employeeEmergencyContact);
                        $('#Job').text(data.employeeJobTitle);
                        $('#Employment').text(data.employeeEmploymentType);
                        $('#Salary').text(data.employeeSalaryRate);
                        $('#Email').text(data.employeeEmail);

                        console.log(data.employeeQualifications);

                        // Add qualifications
                        var qualificationsList = $('#Qualifications ul');
                        qualificationsList.empty(); // Clear existing list items

                        // Check if employee qualifications data exists and has length greater than 0
                        if (data.employeeQualifications && data.employeeQualifications.length > 0) {
                            // Iterate over each qualification and append it to the list
                            data.employeeQualifications.forEach(function (qualification) {
                                qualificationsList.append('<li>' + qualification + '</li>');
                            });
                        } else {
                            // Handle the case where employee qualifications data is empty
                            qualificationsList.append('<li>None</li>');
                        }

                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }

            // Call the fetchSpecificEmployee function
            fetchSpecificEmployee();
        });
    </script>
}

