@{
    ViewData["Title"] = "Care Landing";
}

<h1>Welcome to the Care Landing Page</h1>


<button id="redirectButton">Go to Employee Selection</button> <!-- Add a button -->
<button id="createServicePageButton">Go to Create Service Page</button> <!-- Add a button -->


@section scripts {
    <script>
        $(function () {
            $('#redirectButton').click(function () {
                window.location.href = '/Care/EmployeeSelection'; // Redirect to another page
            });
            $('#createServicePageButton').click(function () {
                window.location.href = '/Care/CreateServiceView'; // Redirect to another page
            });
        });
    </script>
}
