@{
    ViewData["Title"] = "Care Landing";
}

<h1>Invoices History </h1>
<table id="registeredInvoicesTable" class="table">
    <thead>
    <tr>
        <th>Invoice ID</th>
        <th>Date</th>
        <th>Customer Email</th>
        <th>Service Name</th>
        <th>Service Charge</th>
        <th>Tax Charge</th>
        <th>Total Amount Due</th>
        <!-- Add more columns if needed -->
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts {
    <script> 
            $(function () {
                // Function to create all the invoices
                function fetchRegisteredInvoices() {
                    $.ajax({
                        url: '/Care/RegisteredInvoices',
                        type: 'POST', // Send a POST request
                        success: function (data) {
                            var tableBody = $('#registeredInvoicesTable tbody');
                            tableBody.empty(); // Clear existing table rows
                            console.log(data);
                            // Assuming all arrays have the same length
                            for (var i = 0; i < data.customerEmails.length; i++) {
                                var row = $('<tr></tr>');
                                row.append('<td>' + data.invoiceIDs[i] + '</td>');
                                // extract the date from datetime object
                                var dateObject = new Date(data.dates[i]);
                                var formattedDate = dateObject.toLocaleDateString();
                                row.append('<td>' + formattedDate + '</td>');
                                row.append('<td>' + data.customerEmails[i] + '</td>');
                                row.append('<td>' + data.serviceNames[i] + '</td>');
                                row.append('<td>$' + parseFloat(data.serviceCharges[i]).toFixed(2) + '</td>');
                                row.append('<td>$' + parseFloat(data.taxCharges[i]).toFixed(2) + '</td>');
                                row.append('<td>$' + parseFloat(data.totalAmounts[i]).toFixed(2) + '</td>');
                                // Add more columns if needed
                                tableBody.append(row);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                        }
                    });
                }
                
                // Call the function to fetch and populate registered services
                fetchRegisteredInvoices();
            });
    </script>
}