@{
    ViewData["Title"] = "CRM";
}

<div class="text-center">
    <h1 class="display-4">CRM Landing</h1>
    <!-- Existing links -->
    <a class="btn btn-primary" asp-controller="CRM" asp-action="ManageAssets">Manage Assets</a>
    <a class="btn btn-primary" asp-controller="CRM" asp-action="AvailableAssets">View Available Assets</a>
    <!-- New link to the Invoices page -->
    <a class="btn btn-primary" asp-controller="CRM" asp-action="Invoices">View Invoices</a>
</div>
  <h1 class="display-4">CRM Landing</h1>
    <button id="goToMaintenanceButton" class="btn btn-primary">Go to Maintenance</button>
  <a class="btn btn-primary" asp-controller="CRM" asp-action="ManageAssets">Manage Assets</a>
  <a class="btn btn-primary" asp-controller="CRM" asp-action="AvailableAssets">View Available Assets</a>
  <button id="redirectButton" class="btn btn-primary">Go to Renters Section</button>
    <a class="btn btn-primary" asp-controller="CRM" asp-action="Invoices">View Invoices</a>
</div>

@section scripts {
    <script>
        $(function () {
            $('#goToMaintenanceButton').click(function () {
                window.location.href = '/CRM/MaintenanceLanding';
            });
        });
    $(function () {
      $('#redirectButton').click(function () {
        window.location.href = '/CRM/CRM_renters'; // Redirect to another page
      });
    });
    </script>

}
