@{
  ViewData["Title"] = "CRM";
}

<div class="text-center">
  <h1 class="display-4">CRM Landing</h1>
    <button id="goToMaintenanceButton" class="btn btn-primary">Go to Maintenance</button>
</div>

@section scripts {
    <script>
        $(function () {
            $('#goToMaintenanceButton').click(function () {
                window.location.href = '/CRM/MaintenanceLanding';
            });
        });
    </script>
}
