@{
    ViewData["Title"] = "CRM";
}

<div class="text-center">
    <h1 class="display-4">CRM Landing</h1>
    <!-- Add a link to the ManageAssets action method -->
    <a class="btn btn-primary" asp-controller="CRM" asp-action="ManageAssets">Manage Assets</a>
    <a class="btn btn-primary" asp-controller="CRM" asp-action="AvailableAssets">View Available Assets</a>
</div>



