@{
    ViewData["Title"] = "CRM Renters";
}

<div class="text-center">
    <h1 class="display-4">CRM Renters Page</h1>
    <!-- Add your content for the CRM Renters page here -->

    <a href="@Url.Action("CRM_listRenters", "CRM")">View list of all Renters</a>

</div>